.cover {
  height: 150px;
  width: 100%;
}
.profile-info {
  margin-top: 30px;
}
.profile-info h1 {
  font-size: xx-large;
  margin: 9px;
}
.profile-info h5 {
  font-size: large;
  padding: 9px;
}
.profile-info p {
  font-size: large;
  padding: 9px;
}
